@page "/Cabinet"
@inherits CabinetPageViewModel

<div class="d-flex justify-content-end">
    <button type="button" class="btn-close" aria-label="Close"></button>
</div>

<h3>Кабинеты</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Номер кабинета</th>
            <th>Учитель</th>
            <th>Предмет</th>
            <th>Изменение</th>
            <th>Удаление</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cabinet in Cabinets)
        {
            <tr>
                <td>@cabinet.Id</td>
                <td>@cabinet.Number</td>
                <td>@cabinet.TeacherFullName</td>
                <td>@cabinet.Teacher.SubjectName</td>
                <td>
                    <button class="btn btn-outline-secondary"
                            @onclick="@(() => SelectCabinet(cabinet))">
                        Изменить
                    </button>
                </td>
                <td>
                    <button class="btn btn-outline-danger"
                            @onclick="@(() => DeleteCabinet(cabinet))">
                        Удалить
                    </button>
                </td>
                <td>
                    @if (cabinet.ChangeLogs != null)
                    {
                        <i class="bi bi-info-circle" title="@GetChangeLog(cabinet.ChangeLogs)"></i>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<button class="btn btn-primary mb-3" @onclick="AddNewCabinet">Добавить кабинет</button>

<EditCabinetDialog ViewModel="EditModel" Save="SaveChanges"></EditCabinetDialog>
<DeleteCabinetDialog ViewModel="DeleteModel" ConfirmDelete="ConfirmDelete"></DeleteCabinetDialog>

@code {

}
