@page "/Student"
@inherits StudentPageViewModel
<h3>Ученики</h3>

<button class="btn btn-outline-primary btn-sm mb-3 bi bi-search"
        @onclick="ToggleFilters">
</button>

@if (ShowFilters)
{
    <div class="mb-3 p-3 border rounded">
        <div class="row">
            <div class="col-md-4">
                <label>Фамилия:</label>
                <InputText @bind-Value="FilterStudent.LastName"
                           class="form-control form-control-sm col-9" id="LastName" title="Фамилия"/>
            </div>
            <div class="col-md-4">
                <label>Имя:</label>
                <InputText @bind-Value="FilterStudent.FirstName"
                           class="form-control form-control-sm col-9" id="FirstName" title="Имя" />
            </div>
            <div class="col-md-4">
                <label>Класс:</label>
                <InputSelect @bind-Value="FilterStudent.ClassId"
                             class="form-control form-control-sm " id="ClassId">
                    <option value="0">Все классы</option>
                    @foreach (var item in FilterStudent.Classes)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </InputSelect>
            </div>
        </div>

        <div class="mt-2">
            <button class="btn btn-primary btn-sm" @onclick="Search">
                Поиск
            </button>
            <button class="btn btn-secondary btn-sm ms-2" @onclick="ResetFilter">
                Сброс фильтра
            </button>
        </div>
    </div>
}

<CircleLoader IsShowSpiner="IsShowSpiner"></CircleLoader>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Возраст</th>
            <th>Класс</th>
            <th>Изменение</th>
            <th>Удаление</th>
            <th>История</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Students)
        {
            <tr>
                <td>@student.Id</td>
                <td>@student.LastName</td>
                <td>@student.FirstName</td>
                <td>@student.MiddleName</td>
                <td>@student.Age</td>
                <td>@student.ClassId</td>
                <td>
                    <button class="btn btn-outline-secondary"
                            @onclick="@(() => SelectStudent(student))">
                        Изменить
                    </button>
                </td>
                <td>
                    @if (student.IsDeleted)
                    {
                        <div class="d-flex gap-1">
                            <button class="btn btn-outline-success btn-sm"
                                    @onclick="@(() => DeleteAction(student, true))"
                                    title="Восстановить">
                                <i class="bi bi-arrow-clockwise"></i>
                            </button>
                            <button class="btn btn-outline-danger btn-sm"
                                    @onclick="@(() => DeleteAction(student, false))"
                                    title="Удалить окончательно">
                                <i class="bi bi-x-lg"></i>
                            </button>
                        </div>
                    }
                    else
                    {
                        <button class="bi bi-trash3"
                                @onclick="@(() => DeleteStudent(student))"
                                title="Удалить">
                        </button>
                    }
                </td>
                <td>
                    @if (student.ChangeLogs != null)
                    {
                        <i class="bi bi-info-circle" title="@GetChangeLog(student.ChangeLogs)"></i>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<button class="btn btn-primary mb-3" @onclick="AddNewStudent">Добавить ученика</button>

<EditStudentDialog ViewModel="EditModel" Save="SaveChanges" Reload="HandleReload"></EditStudentDialog>
<DeleteStudentDialog ViewModel="DeleteModel" ConfirmDelete="ConfirmDelete"></DeleteStudentDialog>
<ErrorDialog IsOpen="@IsOpenErrorDialog" Message="@ErrorMessage" OnClose="@CloseErrorDialog" />

@code {

}
