@page "/Student"
@inherits StudentPageViewModel
<h3>Ученики</h3>  

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Возраст</th>
            <th>Класс</th>
            <th>Изменение</th>
            <th>Удаление</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Students)
        {
            <tr>
                <td>@student.Id</td>
                <td>@student.LastName</td>
                <td>@student.FirstName</td>
                <td>@student.MiddleName</td>
                <td>@student.Age</td>
                <td>@student.ClassId</td>
                <td>
                    <button class="btn btn-outline-secondary"
                            @onclick="@(() => SelectStudent(student))">
                        Изменить
                    </button>
                </td>
                <td>
                    <button class="btn btn-outline-danger"
                        @onclick="@(() => DeleteStudent(student))">
                        Удалить
                    </button>
                </td>
                <td>
                    @if (student.ChangeLogs != null)
                    {
                        <i class="bi bi-info-circle" title="@GetChangeLog(student.ChangeLogs)"></i>
                    }
                </td>
               </tr>
        }
    </tbody>
</table>

<button class="btn btn-primary mb-3" @onclick="AddNewStudent">Добавить ученика</button>

<EditStudentDialog ViewModel="EditModel" Save="SaveChanges"></EditStudentDialog>
<DeleteStudentDialog ViewModel="DeleteModel" ConfirmDelete="ConfirmDelete"></DeleteStudentDialog>

@code {

}
