@page "/Student"
@inherits StudentPageViewModel
<h3>Ученики</h3>

<button class="btn btn-outline-primary btn-sm mb-3"
        @onclick="ToggleFilters">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
    </svg>
</button>

@if (ShowFilters)
{
    <div class="mb-3 p-3 border rounded">
        <div class="row">
            <div class="col-md-4">
                <label>Фамилия:</label>
                <InputText @bind-Value="FilterStudent.LastName"
                           class="form-control form-control-sm col-9" id="LastName" title="Фамилия"/>
            </div>
            <div class="col-md-4">
                <label>Имя:</label>
                <InputText @bind-Value="FilterStudent.FirstName"
                           class="form-control form-control-sm col-9" id="FirstName" title="Имя" />
            </div>
            <div class="col-md-4">
                <label>Класс:</label>
                <InputSelect @bind-Value="FilterStudent.ClassId"
                             class="form-control form-control-sm " id="ClassId">
                    <option value="0">Все классы</option>
                    @foreach (var item in FilterStudent.Classes)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </InputSelect>
            </div>
        </div>

        <div class="mt-2">
            <button class="btn btn-primary btn-sm" @onclick="Search">
                Поиск
            </button>
            <button class="btn btn-secondary btn-sm ms-2" @onclick="ResetFilter">
                Сброс фильтра
            </button>
        </div>
    </div>
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Возраст</th>
            <th>Класс</th>
            <th>Изменение</th>
            <th>Удаление</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Students)
        {
            <tr>
                <td>@student.Id</td>
                <td>@student.LastName</td>
                <td>@student.FirstName</td>
                <td>@student.MiddleName</td>
                <td>@student.Age</td>
                <td>@student.ClassId</td>
                <td>
                    <button class="btn btn-outline-secondary"
                            @onclick="@(() => SelectStudent(student))">
                        Изменить
                    </button>
                </td>
                <td>
                    <button class="btn btn-outline-danger"
                            @onclick="@(() => DeleteStudent(student))">
                        Удалить
                    </button>
                </td>
                <td>
                    @if (student.ChangeLogs != null)
                    {
                        <i class="bi bi-info-circle" title="@GetChangeLog(student.ChangeLogs)"></i>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<button class="btn btn-primary mb-3" @onclick="AddNewStudent">Добавить ученика</button>

<EditStudentDialog ViewModel="EditModel" Save="SaveChanges" Reload="HandleReload"></EditStudentDialog>
<DeleteStudentDialog ViewModel="DeleteModel" ConfirmDelete="ConfirmDelete"></DeleteStudentDialog>
<ErrorDialog IsOpen="@IsOpenErrorDialog" Message="@ErrorMessage" OnClose="@CloseErrorDialog" />

@code {

}
