@page "/Teacher"
@inherits TeacherPageViewModel
<h3>Преподаватели</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Возраст</th>
            <th>Предмет</th>
            <th>Изменение</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var teacher in Teachers)
        {
            <tr>
                <td>@teacher.Id</td>
                <td>@teacher.LastName</td>
                <td>@teacher.FirstName</td>
                <td>@teacher.MiddleName</td>
                <td>@teacher.Age</td>
                <td>@teacher.SubjectName</td>
                <td>
                    <button class="btn btn-outline-secondary"
                            @onclick="@(() => SelectTeacher(teacher))">
                        Изменить
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (SelectedTeacher != null)
{
    <h4>Изменение данных преподавателя</h4>

    <div class="card p-3 mt-3">
        <div class="form-group">
            <label>Фамилия:</label> 
            <input class="form-control" @bind="SelectedTeacher.LastName" />
        </div>

        <div class="form-group mt-2">
            <label>Имя:</label>
            <input class="form-control" @bind="SelectedTeacher.FirstName" />
        </div>

        <div class="form-group mt-2">
            <label>Отчество:</label>
            <input class="form-control" @bind="SelectedTeacher.MiddleName" />
        </div>

        <div class="form-group mt-2">
            <label>Возраст:</label>
            <input class="form-control" @bind="SelectedTeacher.Age" />
        </div>

        <div class="form-group mt-2">
            <label>Предмет:</label>
            <input class="form-control" @bind="SelectedTeacher.SubjectName" />
        </div>

        <div class="mt-3">
            <button class="btn btn-success" @onclick="SaveChanges">Сохранить</button>
            <button class="btn btn-secondary" @onclick="CancelEdit">Отмена</button>
        </div>
    </div>
    
}

@code {

}
