@using School.Web.PageModels.Managements

<MatDialog IsOpen="@ViewModel.IsOpenDialog" CanBeClosed="false">
    <MatDialogTitle class="diHeader">
        <h4>Подтверждение удаления</h4>
    </MatDialogTitle>
    <MatDialogContent>
        @if (ViewModel.ManagementDelete != null)
        {
            <h5>Вы уверены, что хотете удалить руководителя: </h5>
            <p><strong>@ViewModel.ManagementDelete.LastName @ViewModel.ManagementDelete.FirstName @ViewModel.ManagementDelete.MiddleName</strong>?</p>
        }
    </MatDialogContent>
    <MatDialogActions>
        <button class="btn btn-danger" @onclick="@(() => ConfirmDelete.InvokeAsync(true))">Да, удалить</button>
        <button class="btn btn-secondary" @onclick="@(() => ConfirmDelete.InvokeAsync(false))">Отмена</button>
    </MatDialogActions>
</MatDialog>

@code {
    [Parameter] public DeleteManagementModel ViewModel { get; set; }
    [Parameter] public EventCallback<bool> ConfirmDelete { get; set; }
}

