@page "/Management"
@inherits ManagementPageViewModel
<h3>Руководство</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Должность</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Возраст</th>
            <th>Изменение</th>
            <th>Удаление</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var management in Managements)
        {
            <tr>
                <td>@management.Id</td>
                <td>@management.Position </td>
                <td>@management.LastName</td>
                <td>@management.FirstName</td>
                <td>@management.MiddleName</td>
                <td>@management.Age</td>
                <td>
                    <button class="btn btn-outline-secondary"
                            @onclick="@(() => SelectManagement(management))">
                        Изменить
                    </button>
                </td>
                <td>
                    <button class="btn btn-outline-danger"
                    @onclick="@(() => DeleteManagement(management))">
                    Удалить
                </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<button class="btn btn-primary mb-3" @onclick="AddNewManagement">Добавить руководителя</button>

<EditManagementDialog ViewModel="EditModel" Save="SaveChanges"></EditManagementDialog>
<DeleteManagementDialog ViewModel="DeleteModel" ConfirmDelete="ConfirmDelete"></DeleteManagementDialog>

@code {

}
